<div class="sixteen columns row">
  <h1>rib</h2>
  <p>Welcome to rib, a Rails imageboard. Enjoy your stay.</p>
  <ul>
    <% @boards.each do |board| %>
      <li>
        <div class="board-index-listing">
          <h3><%= link_to board.title, board %></h3>
        </div>

        <% if session[:user_id] %>
          <div class="admin-controls">
            <%= link_to 'E', edit_board_path(board) if session[:user_id] %>
            <%= link_to 'D', board, method: :delete, data: { confirm: 'Are you sure?' } if session[:user_id] %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="admin-controls">
    <%= link_to 'New Board', new_board_path if session[:user_id] %>
  </div>
</div>
