<% @title = "#{APP_CONFIG['application_name']} - Latest Posts" %>
<h1>Latest posts</h1>

<div class="row">
  <%= will_paginate @posts %>
</div>

<% i = 0 %>

<% @posts.each do |post| %>
  <%= render partial: 'post_small', locals: {post: post} %>
  <% if (i += 1) % 3 == 0 %>
    <hr>
  <% end %>
<% end %>


<div class="row">
  <%= will_paginate @posts %>
</div>