// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
.board-info {
    float: right;

    .board-title {
        text-align: right;
    }
}*/