// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#discussion-info-post-count, #discussion-info-time {
    font-size: 0.75rem;
}

#discussion-update-timer {
    font-size: 0.75rem;
    color: #999;
}