// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
    margin: 12px 0;
    padding: 10px 0 10px 10px;

    .post-info {
        color: #999;
    }

    .post-backquote {
        margin: 0 5px 0 0;
    }

    .post-timestamp-created-at, .post-timestamp-relative {
        white-space: nowrap;
    }

    .post-original-file-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 285px; /* Small responsive thumbnail size is around 285x285 */
    }

    .post-content {
        float: left;
        margin: 0 15px 0 0;
    }

    .post-content img {
        position: relative;
        z-index: 10;
    }

    /* We use a video tag instead of an audio tag for audio files */
/*    .post-content-audio video {
        width: 100%;
    }

    .post-content-video video {
        width: 100%;
    }*/

    .unexpanded img {
        resize: both;
        width: 100%;
        height: 100%;
        max-width: 350px;
        max-height: 350px;
    }

    .post-title {
        font-weight: bold;
        word-wrap: break-word;
        overflow: hidden;
    }

    .post-text {
        min-width: 150px;
        padding: 8px 8px 8px 0;
        overflow: hidden;
        word-wrap: break-word;
        text-overflow: ellipsis;
    }

    .post-content-file-info div {
        float: left;
        margin: 0 8px 0 0;
    }
}

.post:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}


.post:target{
 background-color: #cde;
}

.post-index > .post-text {
    max-height: 300px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.post-index-entry-content img {
    max-height: 250px;
    max-width: 250px;
    resize: both;
}