// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
    margin: 12px 0;
    padding: 10px;

    .post-info {
        color: #777;
    }

    .post-content {
        float: left;
        margin: 0 15px 0 0;
    }

    .post-title {
        font-weight: bold;
    }

    .post-text {
        min-width: 150px;
        padding: 8px 0;
        overflow: hidden;
        word-wrap: break-word;
        text-overflow: ellipsis;
    }

    .post-content {
        float: left;
    }

    .post-original-file-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        max-width: 350px; /* Thumbnail size is 350x350 */
    }

    .unexpanded img {
        resize: both;
        max-width: 350px;
        max-height: 350px;
    }
}

.post:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}


.post:target{
 background-color: #cde;
}

.post-index-entry {
    margin: 10px 0;
}

.post-index-entry-text {
    max-height: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.post-index-entry-content img {
    max-height: 250px;
    max-width: 250px;
    resize: both;
}